// scroll up btn start
@use '../helpers/variables' as *;

.up { 
  position: fixed;
  right: -100px;
  bottom: 25px;
  z-index: 10;
  transition: $main_transition;
  button { 
    border: none;
    background-color: transparent;
    svg { 
      font-size: 35px;
      color: $id_color;
      cursor: pointer;
      transition: $main_transition;
      &:hover { 
        color: $hover_blue;
      }
    }
  }
}
// scroll up btn end