@use '../helpers' as *;
@use "sass:math";

// main title in the home & contact page
.main-title { 
  position: relative;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: $id_color;
    left: 50%;
    transform: translateX(-50%);
  }
  &.left::after { 
    @include breakpoint-up(lg) {
      left: 0;
      transform: translateX(0);
    }
  }
  h2 { 
    font-size: 40px;
    color: $black;
    font-weight: 600;
    span { 
      color: $id_color;
    }
  }
  p { 
    color: $gray;
    font-size: 16px;
  }
}

// main title in the levels & courses page
.main-title-2 { 
  position: relative;
  @extend %center;
  margin-top: 24px;
  max-width: 865px;
  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: $id_color;
    left: 50%;
    transform: translateX(-50%);
  }
  h1 { 
    color: $dark_blue;
    font-size: 70px;
    font-weight: 600;    
    span { 
      color: $id_color;
    }
    @include breakpoint-down(sm) {
      font-size: 46px;
    }
    @include breakpoint-down(xs) {
      font-size: 40px;
    }
    @include breakpoint-down(fold) {
      font-size: 34px;
    }
  }
  p { 
    color: $gray;
  }
}

// main title in the about page
.main-title-3 { 
  position: relative;
  @extend %center;
  margin-top: 24px;
  max-width: 865px;
  &::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: $id_color;
    @include breakpoint-down(md) {
      left: 50%;
      transform: translateX(-50%);
    }
    @include breakpoint-up(lg) {
      left: 0;
    }
  }
  h2 { 
    color: $dark_blue;
    font-size: 70px;
    font-weight: 600;    
    span { 
      color: $id_color;
    }
    @include breakpoint-down(sm) {
      font-size: 46px;
    }
    @include breakpoint-down(xs) {
      font-size: 40px;
    }
    @include breakpoint-down(fold) {
      font-size: 34px;
    }
  }
  p { 
    color: $gray;
  }
}