@use '_variables' as *;
@use '_placeholders' as *;
@use '_mixins' as *;

// animation bouncing start 
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60%{
    transform: translateY(-15px);
  }
}
// animation bouncing end  

// animation arrow-right start 
@keyframes arrow-right {
  100% {
    transform: translateX(10px);
  }
}
// animation arrow-right end 

// animation lader start
@keyframes loader {
  100% {
    opacity: 0;
  }
}
// animation lader end 

//animation fadeout start
@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
//animation fadeout end 

//animation zoom start 
@keyframes zoom {  
  100% {
    transform: scale(1.1);
  }
}
//animation zoom start 

// animation link start
@keyframes link {
  0% { 
    background-color: rgb(255 250 160 / 0%);
  }
  100% { 
    background-color: rgb(255 255 160 / 50%);
  }
} 
// animation link start

// animation link-mobile start 
@keyframes link-mobile { 
  100% { 
    background-color: $section-background;
    color: $dark_blue;
  }
}
// animation link-mobile end 

// animation wiggle start
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
// animation wiggle end
