@use '_variables' as *;

%scroll-bar { 
  &::-webkit-scrollbar { 
    width: 14px;
    height: 14px;
  }
  &::-webkit-scrollbar-thumb { 
    background-color: $id_color;
    border: 1px solid $border_color;
    border-radius: 100px;
    &:hover { 
      background-color: $hover_blue;
    }
  }
  &::-webkit-scrollbar-track { 
    border-left: 1px solid $border_color;
    border-top: 1px solid $border_color;
  }
  &::-webkit-scrollbar-corner { 
    background-color: #ccc;
  }
}