//colors 
$id_color: #3434ff;
$hover_blue: #2c23d2;
$icon_dark_blue: #202058;
$black: #0b0b2c;
$dark_blue: #08082c;
$section_background: #fafafa;
$border_color: #ececf4;
$border_separator: #cfcfdb;
$gray: #69697b;
$gray-2: #4e4e65;
$slides: #F7F7FB;

//others
$main_transition: 0.3s;