//colors 
$id_color: #3434ff;
$id_color_fade: rgb(52 52 255 / 15%);
$hover_blue: #2c23d2;
$hover_blue-fade: rgb(44 35 210 / 25%);
$icon_dark_blue: #202058;
$black: #0b0b2c;
$dark_blue: #08082c;
$section_background: #f6f6f6;
$text_color: #212529;
$border_color: #ececf4;
$border_separator: #cfcfdb;
$img-background: #f5f7ff;
$gray: #69697b;
$gray-2: #4e4e65;
$slides: #F7F7FB;
$red: #ec0000;
$emoji-red: #fe3b2b;

//breakpoint 
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1400px;

$fold-max: 354.98px;
$xs-max: 575.98px;
$sm-max: 767.98px;
$md-max: 991.98px;
$lg-max: 1199.98px;
$xl-max: 1399.98px;

//breakpoint for 350 //

//maps for media queries
$breakpoints-up: (
  "sm": "min-width: #{$sm-min}",
  "md": "min-width: #{$md-min}",
  "lg": "min-width: #{$lg-min}",
  "xl": "min-width: #{$xl-min}",
  "xxl": "min-width: #{$xxl-min}",
);

$breakpoints: (
  "xs": "max-width: #{$xs-max}",
  "sm": "(min-width: #{$sm-min}) and (max-width: #{$sm-max})",
  "md": "(min-width: #{$md-min}) and (max-width: #{$md-max})",
  "lg": "(min-width: #{$lg-min}) and (max-width: #{$lg-max})",
  "xl": "(min-width: #{$xl-min}) and (max-width: #{$xl-max})",
  "xxl": "min-width: #{$xxl-min}",
);

$breakpoints-down: (
  "fold": "max-width: #{$fold-max}",
  "xs": "max-width: #{$xs-max}",
  "sm": "max-width: #{$sm-max}",
  "md": "max-width: #{$md-max}",
  "lg": "max-width: #{$lg-max}",
  "xl": "max-width: #{$xl-max}",
);

//others
$main_transition: 0.3s;
$img-border-radius: 30px;
$border-radius: 14px;
$border-bottom: 3px dotted $border_separator;