@use '../helpers/variables' as *;

// content section start
.content { 
  min-height: calc(100vh - 100px);
  .container { 
    .about { 
      padding: 36px 20px;
      border: 1px solid $border_color;
      border-radius: 30px;
      max-width: 963px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 65px;
      box-shadow: 0 11px 15px 0 rgb(52 52 255 / 5%);
      @media (max-width: 768px) {
        padding: 30px 20px;
      }
      ul { 
        li { 
          font-size: 22px;
          font-weight: 400;
          color: $gray;
          &:nth-child(2) {
            @media (min-width: 767px) {
              margin: 0 3px;
            }
          }
          @media (max-width: 576px) {
            font-size: 17px;
          }
          @media (max-width: 768px) {
            padding: 3px 0;
          }
          svg { 
            color: $id_color;
            margin-right: 11px;
          }
          span { 
            color: $dark_blue;
            font-weight: 500;
          }
          a { 
            transition: $main_transition;
          }
          a[aria-expanded="true"].dropdown-toggle::after { 
            transition: $main_transition;
            transform: rotate(90deg);
          } 
          .dropdown-toggle::after { 
            color: $id_color;
          }
          ul li a:hover { 
            color: $id_color;
          }
        }
      }
    }
    .year { 
      .semester { 
        p { 
          button { 
            color: $black;
            font-size: 22px;
            background-color: none;
            border: none;
            font-weight: 700;
            border-bottom: 2px solid $id_color;
            width: 100%;
            text-align: start;
            &:hover { 
              color: $id_color;
            }
            &[aria-expanded="true"] {
              color: $id_color;
            }
            &[aria-expanded="true"] svg{
              transform: rotate(90deg);
            }
            svg { 
              margin-right: 12px;
              transition: $main_transition;
            }
            @media (max-width: 350px) {
              font-size: 18px;
            }
            div:last-child { 
              margin-left: 5px;
            }
            span {
              > span.note { 
                color: $gray;
                font-weight: 500;
                font-size: 18px;
                @media (max-width: 767px) {
                  font-size: 14px;
                }
              }
              &.name { 
                color: $gray;
                font-weight: 400;
                + span { 
                  font-weight: 500;
                }
              }
            }
          }
        }
        .collapse { 
          .card { 
            box-shadow: 0 20px 34px 0 rgb(11 11 44 / 4%), 0 4px 8px 0 rgb(11 11 44 / 2%), 0 10px 34px 0 rgb(52 52 255 / 5%);
            border-radius: $border-radius;
            h2 { 
              color: $black;
            }
            p { 
              color: $gray;
              @media (max-width: 576px) {
                font-size: 13px;
              }
              span { 
                color: $id_color;
                font-weight: bold;
              }
            }
            a {
              color: $section_background;
              text-decoration: none;
              text-align: end;
              background: $id_color;
              width: fit-content;
              margin-left: auto;
              font-size: 20px;
              font-weight: 500;
              padding: 6px;
              min-width: 47.35px;
              text-align: center;
              border-radius: 8px;
              transition: $main_transition;
              &.exam { 
                padding: 8px 14px;
                font-size: 17px;
                @media (max-width: 767px) {
                  font-size: 12px;
                }
              }
              &:hover { 
              background-color: $hover_blue;
              }
              @media (max-width: 768px) {
                font-size: 16px;
                padding: 4px;
                min-width: 36.28px;
              }
            }
            .anchors { 
              a { 
                &:not(:last-child) {
                  margin-right: 6px;
                }
              }
            }
            &.optional-no-anchor {
              a { 
                cursor: none;
                pointer-events: none;
                visibility: hidden;
              }
            }
            &.dep {
              position: relative;
              &::after { 
                font-family: 'Font Awesome 6 Free';
                position: absolute;
                font-weight: 900;
                color: $icon_dark_blue;
                bottom: 12px;
                font-size: 20px;
                width: 30px;
                text-align: center;
              }
              &.pt-dep { 
                &::after { 
                  content: "\f484";
                }
              }
              &.cg-dep { 
                &::after { 
                  content: "\f5a7";
                }
              }
              &.ch-dep { 
                &::after { 
                  content: "\e4f3";
                }
              }
              &.tc-dep { 
                &::after { 
                  content: "\f485";
                }
              }
            }
            &.slides { 
              background-color: $slides;
            }
            .note { 
              color: $gray;
              font-weight: 500;
              font-size: 18px;
              @media (max-width: 767px) {
                font-size: 14px;
              }
            }
          }
        }
        &.optional { 
          > p {
            button { 
              position: relative;
              &::after { 
                font-family: "Font Awesome 6 Free"; 
                content: "\f059";
                position: absolute;
                width: 20px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .separate {
        background-color: $gray;
        width: 25%;
        height: 2px;
        @media (max-width: 576px) {
          width: 33%;
        }
      }
    }
  }
  .collapsing {
    transition-delay: 0.1s;
    visibility: hidden;
  }
} 
// content section end  