@use "../helpers" as *;
@use "sass:math";

// footer start
footer {
  background-color: $black;
  color: #fff;
  .container {
    p {
      font-size: 18px;
      padding: 15px 0 0;
      margin: 0 0 10px;
      @include breakpoint-down(sm) {
        font-size: 16px;
      }
      @include breakpoint-down(fold) {
        font-size: 12px;
      }
      span {
        font-weight: 600;
        a {
          color: $emoji-red;
          text-decoration: none;
          position: relative;
          padding-bottom: 5px;
          transition: $main_transition;
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            height: 3px;
            border-radius: 2px;
            background-image: linear-gradient(
              130deg,
              #ff7a18,
              #af002d 41.07%,
              #319197 76.05%
            );
            background-size: 133%;
            //using alternate is to make it slowly go back to original color
            animation: bg calc($main_transition * 5) infinite
              cubic-bezier(0.46, 0.03, 0.52, 0.96) alternate;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  ::selection {
    background-color: $section_background;
    color: $black;
  }
}
// footer ned
