@use '../helpers/variables' as *;

.navbar { 
  box-shadow: 0 0 10px #ddd;
  @media (max-width: 991px) {
    min-height: 101px;
  }
  .container { 
    min-height: 85px;
    .navbar-brand { 
      img {
        width: 75px;
        transition: $main_transition;
        &:hover {
            transform: scale(1.2);
        }
        @media (max-width: 767px) {
          width: 65px;
        }
      }
    }
    .navbar-collapse {
      @media (max-width: 991.99px) {
        background-color: $black;
        min-height: calc(100vh - 101px);
        box-shadow: 0 4px 10px 0 rgb(74 58 255 / 18%);
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 99;
        top: 101px;
        transition: calc($main_transition * 2);
        transform: translateY(-725px);
        opacity: 0.01;
      }
      .dropdown-menu {
        @media (max-width: 991.99px) {
          background-color: $black;
          margin-left: 0;
        }
        a {
          @media (max-width: 991.99px) {
            width: fit-content;
          }
          &:hover {
            @media (max-width: 991.99px) {
              width: fit-content;
            }
          }
        }
      }
    }
    .dropdown { 
      .dropdown-toggle {
        &::after { 
          @media (min-width: 992px) {
            color: $id_color;
            font-family: "Font Awesome 5 Free"; 
            content: "\f107";
            font-weight: 900;
            border: none;
            vertical-align: baseline;
            font-size: 17px;
          }
        }
      }
      .dropdown-toggle[aria-expanded="true"] {
        &::after { 
          transition: $main_transition;
          transform: rotate(-180deg);
        }
      }
    }
    .navbar-toggler {
      border-color: $id_color;
      min-height: 41px;
      @media (max-width: 992px) {
        padding: 4px 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        position: relative;
        width: 55.5px;
        height: 40px;
      }
      &:focus {
        box-shadow: none;
      }
      svg { 
        font-size: 30px;
        color: $icon_dark_blue;
        position: absolute;
        transition: $main_transition;
        @media (max-width: 767px) {
          font-size: 28px;
        }
        &:last-child { 
          transform: translateY(35px);
          font-size: 36px;
        }
      }
      &[aria-expanded="true"] {
        border-color: $hover_blue;
        svg { 
          &:first-child { 
            transform: translateY(-35px)
          }
          &:last-child { 
            transform: translateY(0);
          }
        }
        + .navbar-collapse { 
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    svg:not(button > svg) {
      font-size: 30px;
      margin-right: 6px;
      color: $icon_dark_blue;
      transform: translateY(7px);
      @media (max-width: 767px) {
        font-size: 25px;
        transform: translateY(2px);
      }
    }
    .main-btn { 
      background-color: $id_color;
      color: #fff;
      padding: 18px 24px;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 6px;
      font-weight: 500;
      transition: $main_transition;
      border: none;
      &:hover {
        background-color: $hover_blue;
        transform: translateY(-2px);
      }
    }
    a > img { 
      width: 55px;
      margin-right: 2px;
    }
    ul {
      margin-left: 40px;
      li { 
        a {
          color: $black;
          font-size: 18px;
          margin: 10px;
          width: auto;
          transition: $main_transition;
          position: relative;
          @media (max-width: 991.99px) {
            color: hsla(0, 0%, 100%, 0.52);
            font-size: 32px;
          }
          &:focus {
            border: none;
          }
          &.active , &:hover , &:focus { 
            color: $id_color;
            @media (max-width: 991.99px) {
              color: #fff;
              background-color: transparent;
            }
          }
          @media (max-width: 567px) {
            font-size: 28px;
          }
        }
        a:not(.dropdown-item) { 
          @media (min-width: 992px) {
            margin: 0 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            &::before { 
              position: absolute;
              content: "";
              background-color: $id_color;
              width: 0;
              height: 2px;
              left: 0;
              bottom: 0;
              transition: $main_transition;
            }
            &:hover { 
              &::before{
                width: 100%;
              }
            }
            &.active {
              &::before {
                width: 100%;
              }
            }
          }
        }
        .dropdown-divider {
          background-color: $id_color;
          @media (max-width: 992px) {
            background-color: hsla(0deg, 0%, 100%, 0.52);
          }
        }
      }
    }
    .dropdown { 
      .dropdown-toggle[aria-expanded="true"] {
        &::before { 
          width: 100%;
        }
      }
    }
  }
}

