@use '../helpers' as *;
@use "sass:math";

// offcanvas start
button { 
  &.my-offcanvas { 
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    outline: none;
    border: none;
    &:focus, &:hover { 
      outline: none;
      border: none;
    }
  }
}
.offcanvas { 
  height: 33.33vh !important;
  .offcanvas-header { 
    background-color: $section_background;
    border-bottom: $border-bottom;
    h5 { 
      color: $black;
      @include breakpoint-down(xs) {
        font-size: 16px;
      }
      @include breakpoint-down(fold) {
        font-size: 13px;
      }
      span { 
      color: $id_color;
      font-weight: 600;
      }
    }
    button { 
      padding: 10px 12px;
      border: 1px solid $id_color;
      transition: $main-transition;
      &:hover { 
        border-color: $hover_blue;
      }
    }
  }
  .offcanvas-body { 
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    @extend %scroll-bar;
    overflow: hidden;
    .img { 
      flex-basis: 60%;
    }
    .txt { 
      flex-basis: 40%;
      font-size: 18px;
      color: $black;
      @include breakpoint-down(xs) {
        font-size: 14px;
      }
      @include breakpoint-down(fold) {
        font-size: 12px;
      }
      a { 
        color: $id_color;
        font-weight: 600;
        transition: $main_transition;
        &:hover { 
          color: $hover_blue;
          text-decoration: underline;
        }
      }
    }
  }
} 
// offcanvas end 