@use '../helpers/variables' as *;

// about start 
.about { 
  .container { 
    .txt { 
      @media (min-width: 992px) {
        margin: 0 45px 0 0;
      }
      .content { 
        p { 
          color: $gray;
          font-size: 18px;
          margin-bottom: 10px;
          line-height: 1.7;
          @media (max-width: 767px) {
            font-size: 16px;
          }
          &.reading-text {
            color: $text_color;
          }
        }
        abbr:first-of-type { 
          text-decoration: underline dotted;
        }
      }
    }
    .img { 
      img { 
        border-radius: 24px;
      }
    }
  }
}
// about end 

// departments start
.departments { 
  background-color: $section-background;
  .container {
    .img-flex { 
      @media (max-width: 991px) {
        order: 1;
      }
      .img { 
        img { 
          border-radius: 24px;
        }
      }
    }
    .txt { 
      @media (min-width: 992px) {
        margin: 0 0 0 45px;
      }
      .content { 
        color: $gray;
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.7;
        color: $text_color;
        @media (max-width: 767px) {
          font-size: 16px;
        }
        ul { 
          list-style: circle;
        }
      }
    }
  }
} 
// departments end 

//this website start
.about { 
  &.qr-code { 
    .container {
      a { 
        &.wiggle { 
          animation: wiggle calc($main-transition * 5) linear infinite;
          display: inline-block;        }
      }
      .img {
        &.website {
          img { 
            outline: 2px solid $border_color;
            box-shadow: 0 14px 94px 0 rgb(15 15 182 / 9%);
            border-radius: 24px;
            @media (min-width: 576px) {
              border: 65px solid $section-background;
            }
            @media (max-width: 575px) {
              border: 15px solid $section-background;
            }
          }
        }
      }
    }
  }
}
//this website end
