@use '../helpers/variables' as *;
@use '../helpers/placeholders' as *;
@use '../helpers/mixins' as *;

// about start 
.about { 
  .container { 
    .txt { 
      @media (min-width: 992px) {
        margin: 0 45px 0 0;
      }
      .content { 
        p { 
          color: $gray;
          font-size: 18px;
          margin-bottom: 10px;
          line-height: 1.7;
          @media (max-width: 767px) {
            font-size: 16px;
          }
          &.reading-text {
            color: $text_color;
          }
        }
        abbr:first-of-type { 
          text-decoration: underline dotted;
        }
      }
    }
    .img { 
      img { 
        box-shadow: 0 14px 94px 0 rgb(15 15 182 / 9%);
        border-radius: $img-border-radius;
      }
    }
  }
}
// about end 

// departments start
.departments { 
  background-color: $section-background;
  border: {
    top: 1px solid $border_color;
    bottom: 1px solid $border_color;
  }
  .container {
    .img-flex { 
      @media (max-width: 991px) {
        order: 1;
      }
      .img { 
        img { 
          box-shadow: 0 14px 94px 0 rgb(15 15 182 / 9%);
          border-radius: $img-border-radius;
        }
      }
    }
    .txt { 
      @media (min-width: 992px) {
        margin: 0 0 0 45px;
      }
      .content { 
        color: $gray;
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.7;
        color: $text_color;
        @media (max-width: 767px) {
          font-size: 16px;
        }
        ul { 
          list-style: circle;
        }
      }
    }
  }
} 
// departments end 

//this website start
.about { 
  &.qr-code { 
    .container {
      a { 
        &.wiggle { 
          animation: wiggle calc($main-transition * 6) linear infinite;
          display: inline-block;        
        }
      }
      .img {
        &.website {
          img { 
            outline: 2px solid $border_color;
            box-shadow: 0 14px 94px 0 rgb(15 15 182 / 9%);
            border-radius: $img-border-radius;
            @media (min-width: 576px) {
              border: 65px solid $section-background;
            }
            @media (max-width: 575px) {
              border: 15px solid $section-background;
            }
          }
        }
      }
    }
  }
}
//this website end

// youtube start
.departments { 
  .container {
    .img-flex { 
      .iframe-container { 
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
        iframe { 
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: $img-border-radius;
          box-shadow: 0 14px 94px 0 rgb(15 15 182 / 9%);
        }
      }
    }
  }
} 
// youtube end 

//creators start
.about { 
  &.creators { 
    background-color: $section-background;
    position: relative;
    border: {
      top: 1px solid $border_color;
      // bottom: 1px solid $border_color;
    }
    .container { 
      .box { 
        background-color: #fff;
        border: 1px solid  $border_color;
        padding: 0 25px 32px;
        border-radius: $img-border-radius;
        box-shadow: 0 20px 34px 0 rgb(11 11 44 / 4%), 0 4px 8px 0 rgb(11 11 44 / 2%), 0 10px 34px 0 rgb(52 52 255 / 5%);
        .box-wrap { 
          margin-top: -65px;
          position: relative;
          &::before, &::after { 
            content: '"';
            position: absolute;
            font-size: 65px;
            color: $id-color;
            bottom: -25px;
            // opacity: 0.4;
            transform: rotate(20deg);
            z-index: 999;
          }
          &::after { 
            right: 0;
          }
          &::before { 
            right: 20px;
          }
          img { 
            @include circle(140px);
            border: 12px solid  $border_color;
            @media (max-width: 767px) {
              width: 110px;
            }
          }
          h3 { 
            color: $black;
          }
          > span { 
            color: $id-color;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
          }
          p { 
            color: $gray;
            font-size: 18px;
            line-height: 1.7;
            a { 
              color: $id-color;
              transition: $main-transition;
              animation: wiggle calc($main-transition * 6) linear infinite;
              display: inline-block;
              &:hover { 
                color: $hover_blue;
              }
            }
            &.cutoff-text { 
              $max-lines: 5;
              $line-height: 1.7;
              max-height: calc($max-lines * 1em * $line-height);
              line-height: $line-height;
              overflow: hidden;
              position: relative;
              transition: $main-transition;
              &:has(+ .expand-btn:not(:checked))::after { 
                content: "";
                position: absolute;
                //the number multiplied by line hight is equal to the number of lines hidden
                height: calc(3em * $line-height);
                width: 100%;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background: linear-gradient(to bottom, transparent, #fff);
              }
              &:has(+ .expand-btn:checked) {
                max-height: none;
              }
            }
            span { 
              &.important { 
                text-decoration: underline;
                color: $red;
              }
              &[data-bs-toggle="tooltip"] {
                text-decoration: underline dotted;
                width: fit-content;
                margin-right: auto;
              }
            }
          }
          .expand-btn {
            appearance: none;
            border: 1px solid $id-color;
            padding: 0.25em 0.5em;
            cursor: pointer;
            width: fit-content;
            height: fit-content;
            transition: $main-transition;
            left: 0;
            bottom: -10%;
            background-color: $id-color;
            border-radius: 8px;
            display: block;
            &::before { 
              content: "Read More";
              color: #fff;
              transition: $main-transition;
            }
            &:hover { 
              background-color: #fff;
              &::before { 
                color: $id-color;
              }
            }
            &:checked::before { 
              content: "Read Less";
            }
          }
        }
      }
    }
  }
}
//creators end

//just keep in mind 
.cutoff-text-for-you { 
  $max-lines: 5;
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
//just keep in mind 
