@use '../helpers' as *;
@use "sass:math";

.contact { 
  .container { 
    .cardd { 
      padding: 56px 78px 64px;
      border-radius: $img-border-radius;
      border: 1px solid $border_color;
      max-width: 810px;
      box-shadow: 0 20px 34px 0 rgb(11 11 44 / 4%), 0 4px 8px 0 rgb(11 11 44 / 2%), 0 10px 34px 0 rgb(52 52 255 / 5%);
      transition: $main_transition;
      @media (max-width: 767px) {
        padding: 40px 20px;
      }
      &:hover { 
        transform: translateY(-6px);
      }
      .txt { 
        h3 {
          color: $dark_blue;
          font-size: 40px;
          margin: 0 0 20px;
          span { 
            color: $id_color;
          }
        }
        p { 
          font-size: 18px;
          color: $gray;
          line-height: 1.7;
        }
      }
      .img { 
        .img-background { 
          @include circle(82px);
          background-color: #fff;
          box-shadow: 0 3px 12px 0 rgb(52 52 255 / 12%);
          img {
            transition: $main_transition;
          }
          img { 
            animation: zoom 0.9s linear infinite;
          }
        }
      }
    }
  }
}

.faq {
  background-color: $section_background;
  border: {
    top: 1px solid $border_color;
    // bottom: 1px solid $border_color;
  }
  .container { 
    .questions { 
      .question { 
        padding: 55px 42px 40px;
        border-bottom: 1px solid $border_separator;
        @media (max-width: 767px) {
          padding: 40px 20px;
        }
        button { 
          border: none;
          h3 { 
            font-size: 23px;
            color: $black;
            flex-basis: 80%;
            text-align: start;
            transition: $main_transition;
            line-height: 1.5;
            @media (max-width: 767px) {
              font-size: 18px;
            }
          }
          svg { 
            color: $gray-2;
            @include circle(26px);
            border: 1px solid rgb(236, 236, 244);
            padding: 10px;
            transition: $main_transition;
            @media (max-width: 767px) {
              width: 19px;
              height: 19px;
              padding: 6px;
            }
          }
          &[aria-expanded="true"] {
            h3 {
              color: $id_color;
            }
            svg { 
              border-color: $id_color;
              color: $id_color;
              transform: rotate(90deg);
            }
          }
          &:hover {
            h3 { 
              color: $id_color;
            }
            svg {
              color: $id_color;
              border-color: $id_color;
            }
          }
        }
        .card { 
          border: none;
          border-radius: $img-border-radius;
          max-width: 900px;
          background-color: $section_background;
          @media (max-width: 767px) {
            padding: 0 16px;
          }
          p, ul { 
            font-size: 18px;
            color: $text_color;
            margin: 0 0 10px;
            line-height: 1.7;
            @media (max-width: 767px) {
              font-size: 16px;
            }
            span { 
              font-weight: 600;
            }
            abbr { 
              text-decoration: underline dotted;
            }
            a { 
              text-decoration: none;
              color: $text_color;
              transition: $main_transition;
              &:hover { 
                text-decoration: underline;
                color: $hover_blue;
              }
            }
          }
          ul { 
            list-style: circle;
          }
        }
      }
    }
  }
}