.content { 
  .container { 
    .year { 
      .semester { 
        p { 
          button { 
            @media (max-width: 576px) {
              font-size: 17px;
            }
          }
        }
      }
      > p { 
        font-size: 22px;
        font-weight: 500;
        color: $dark_blue;
        span { 
          color: $id-color;
          font-weight: 700;
        }
      }
    }
  }
} 