@use "../helpers" as *;
@use "sass:math";

.error {
  background-color: $id_color;
  min-height: 100dvh;
  .container {
    .title {
      font-size: 180px;
      line-height: 160px;
      font-weight: 700;
      @include breakpoint-down(sm) {
        font-size: 150px;
      }
    }
    h2 {
      font-size: 59px;
      font-weight: 500;
      @include breakpoint-down(sm) {
        font-size: 40px;
      }
    }
    p {
      font-size: 18px;
      @include breakpoint-down(sm) {
        font-size: 16px;
      }
    }
    .home {
      a {
        color: $id_color;
        padding: 16px 24px;
        font-weight: 500;
        &:hover {
          background-color: $id_color;
          color: #fff;
        }
        @include breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }
}
