@use '../helpers/variables' as *;

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100%;
  position: fixed;
  width:100%;
  &::-webkit-scrollbar { 
    width: 14px;
    height: 14px;
  }
  &::-webkit-scrollbar-thumb { 
    background-color: $id_color;
    border: 1px solid #eee;
    border-radius: 100px;
    &:hover { 
      background-color: $hover_blue;
    }
  }
  &::-webkit-scrollbar-track { 
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  &::-webkit-scrollbar-corner { 
    background-color: #ccc;
  }
}

::selection {
  background-color: $black;
  color: $section_background;
}

img { 
  user-select: none;
}