@use '../helpers' as *;
@use "sass:math";

img.qr { 
  width: 450px;
}

p.signature { 
  color: $black;
  font-weight: 400;
  line-height: 1.7;
  @media (max-width: 576px) {
    font-size: 11px;
  }
}

p.signature span{ 
  color: $id-color;
  font-weight: 700;
}