@use '../helpers' as *;
@use "sass:math";

img.qr { 
  width: 450px;
  border-radius: $img-border-radius;
}

p.signature { 
  color: $black;
  font-weight: 400;
  line-height: 1.7;
  @include breakpoint-down(xs) {
    font-size: 11px;
  }
  span {
    color: $id-color;
    font-weight: 700;
  }
}